<html xmlns:th="http://www.thymeleaf.org">

<footer>
	<div class="footerCtn">	
	  <div style="width: 90%;"><!-- 하좌 -->
	    <div class="footer-item">
	      밍키몰(주) | 이메일: qna@minkimall.com | 전화: 1111-2222
	    </div>
	    <div class="footer-item">
	      대표자: 밍키 | 사업자 등록번호: 777-88-99999
	    </div>
	    <div class="footer-item">
	      Copyright ©2024 MINKI MALL. All rights reserved.
	    </div>
	  </div><!-- 하좌 끝 -->
	  
	  <div style="width: 10%; justify-content: flex-end;"><!-- 하우 -->	  
	  	<a href="https://velog.io/@kiyo" target="_blank">
			<img th:src="@{/img/img2/velogLogo777.PNG}" class="snsImg">		
		</a>	  
	  </div><!-- 하우 끝 -->
		  
	</div>
 </footer>