<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="icon" href="/img/img2/favicon.png" type="image/png">
<title>전체 상품</title>
</head>
<body>
<div th:replace="include/top"></div>
<section>
<br>
<div align="center">

<!-- 카테고리 -->
<div class="ctgrLi">
	<div th:each="ctgr : ${ctgrList}" style="margin: 10px 5px;">
		<a th:text="'#' + ${ctgr.category}" 
		th:href="@{/prd/prdListByCtgr(category=${ctgr.category})}" class="ctgrTag"></a>
	</div>
</div>
<!-- 카테고리 끝 -->

<div class="ctgrLi">
    <div th:each="m : ${li}" class="eachPrdCtn">
    
        <input type="hidden" name="product_code" th:value="${m.product_code}">
        
        <div class="imgCtn">         
	        <a th:href="@{/prd/viewPrd(product_code=${m.product_code})}">
	            <img th:src="@{/img/}+${m.pimgStr}" width="100%" />
	        </a>
        </div>
        
        <a th:href="@{/prd/viewPrd(product_code=${m.product_code})}" 
        th:utext="'<strong>' + ${m.pname} + '</strong>'">
		</a>
       
        <div class="basicInfo2"><!-- 가격 + 후기건수 + 🛒 버튼 -->
        
	        <div style="width: 50%; display: flex;" th:text="${m.fmtPprice} + '원'"></div>&emsp;	        
	        
	        <div style="width: 25%;" th:if="${m.reviewCount > 0}">
			    <span class="material-symbols-outlined iconBtn3">tooltip</span>
			    <span th:text="${m.reviewCount}"></span>
			</div>
	        <!-- 문자 아닌 int이기에 !=null 조건 필요x -->			
	        
	        <div th:if="${session.username != null and session.loginType == 'user'}"><!-- 로그인 사용자에게만 🛒 버튼 출력 -->
		        <div style="width: 25%;">	        
			         <form action="/cart/addCart" method="post">
			         	<input type="hidden" name="uid" th:value="${session.username}">
					    <input type="hidden" name="product_code" th:value="${m.product_code}">
					    <input type="hidden" name="pquantity" value="1">
				    	<button type="submit" class="iconBtn2">
							<span class="material-symbols-outlined">
							add_shopping_cart
							</span>
						</button>
			    	</form>			    	
			    </div>
			</div><!-- 🛒 버튼 끝 -->
	    </div><!-- 가격 + 후기건수 + 🛒 버튼 끝 -->
             
        <div th:if="${m.pdelifee == 0}" th:text="'무료배송'"></div>
        
        <div>
        	<input type="hidden" th:value="${m.category}">
			<a th:text="'#' + ${m.category}" type="button" class="subbtnsmall" 
			th:href="@{/prd/prdListByCtgr(category=${m.category})}"></a>
			<a th:if="${m.isNew}" th:text="'신상'" class="sinsang" ></a>
		</div>
        
    </div> <!-- eachPrdCtn 끝 -->
</div>

<!-- 페이지 나누고 이동 -->
<div th:if="${totalPages > 1}" class="bulliPage">
    <a  th:if="${currentPage !=1}"
    th:href="@{/prd/prdList4user(pageNumber=1)}"
    th:text="'[첫 페이지]'"></a>&emsp;
    
    <div th:each="i : ${#numbers.sequence(((currentPage - 1) / 10) * 10 + 1, totalPages)}">
    	<div th:if="${i >= ((currentPage - 1) / 10) * 10 + 1 && i <= totalPages}">
    	
    	<!-- 현재 페이지인 경우 비활성화 -->
            <span th:if="${i == currentPage}" 
                  th:text="'[' + ${i} + ']'" 
                  style="color: gray; cursor: default; font-weight: bold;"></span>
            
            <!-- 현재 페이지가 아닌 경우 링크 활성화 -->
            <a th:if="${i != currentPage}"
               th:href="@{/prd/prdList4user(pageNumber=${i})}" 
               th:text="'[' + ${i} + ']'"></a>&emsp;
    		           
           </div>
    </div>
    <a th:if="${currentPage !=totalPages}" 
    th:href="@{/prd/prdList4user(pageNumber=${totalPages})}"
    th:text="'[마지막 페이지]'"></a>&emsp;
</div>
<!-- 페이지 나누고 이동 끝 -->

<br>
</div>    
</section>
<div  th:replace="include/bottom::footer"></div>
</body>
</html>